@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.form-control {
  border: none;
  border-radius: 0;
  width: 100%;
  font-family: 'Nunito Sans, sans-serif';
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.background {
  background: linear-gradient(rgba(87, 181, 247, 0.3), rgba(42, 10, 92, 0.3));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}


.bgTransparent {
  background-color: #4164A8;
  backdrop-filter: blur(10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}



